* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    outline: none !important;
    list-style: none !important;
    text-decoration: none !important;
}
.home{
    background-image: url("https://mariame.netlify.app/assets/img/bg/bg.jpg");
    background-size: cover;
    background-color: #F6F6F6;
    
}

section{
    padding-top: 30px;
}
.vh-30{
    height: 30vh!important;
}

.vh-50{
    height: 50vh!important;
}
.title-aboutme{
    font-weight: bolder;
    color: #000000;
    text-transform: capitalize;
    font-size: 35px;
    opacity: 0.8;

}
.opacity-08 {
    opacity: 0.8;
}
.img-box{
    max-width:100%;
    max-height:100%;
    height: auto;
}
.infor-user{
    line-height: 12px;
}
.box-icon{
    min-width: 200px;
    min-height: 200px;
    /* background-color: gray; */
    margin: 10px;
    
}
