<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Thuy Hang</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <section class="menu-right">
        <div class="bar">
            <ul>
                <li> <a href="#home"> Home </a> </li>
                <li><a href="#aboutme"> Abount me </a></li>
                <li><a href="#aboutme"> Abount me </a></li>
                <li><a href="#aboutme"> Abount me </a></li>
                <li><a href="#aboutme"> Abount me </a></li>
            </ul>
        </div>
    </section>
    
    </section>
</body>
</html>